<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>登录页面 - 派后台管理系统</title>
    <link rel="icon" href="__ADMIN_PATH__favicon.ico" type="image/ico">
    <meta name="keywords" content="派后台管理系统">
    <meta name="description" content="派后台管理系统">
    <meta name="author" content="cfn">
    <link href="__ADMIN_PATH__css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN_PATH__css/materialdesignicons.min.css" rel="stylesheet">
    <link href="__ADMIN_PATH__css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><h4>我的店铺</h4></div>
                <div class="card-body">
                    <div class="">
                        {switch status}
                        {case 1}
                        <div class="row">
                            <div class="col-lg-4">
                                店铺LOGO：<img src="{$store.logo}" style="width: 64px;border-radius: 10px;">
                            </div>
                            <div class="col-lg-4">
                                店铺名称：{$store.mall_name}
                            </div>
                            <div class="col-lg-4">
                                店铺ID：{$store.mall_id}
                            </div>
                            <div class="col-lg-12">
                                <p>店铺介绍：{$store.mall_desc}</p>
                            </div>
                            <div class="col-lg-4">
                                店铺账户名：{$store.user_name}
                            </div>
                            <div class="col-lg-4">
                                供应商ID：{$store.pid}
                            </div>
                            <div class="col-lg-4">
                                店铺类型：
                                {switch store['merchant_type']}
                                {case 1}个人{/case}
                                {case 2}企业{/case}
                                {case 3}旗舰店{/case}
                                {case 4}专卖店{/case}
                                {case 5}专营店{/case}
                                {case 6}普通店{/case}
                                {/switch}
                            </div>
                        </div>
                        {/case}
                        {case 2}
                        <a class="btn btn-w-md btn-round btn-info" href="{$url}">去绑定</a>
                        {/case}
                        {case 3}
                        <p>当前没有空闲的供应商账号，不能绑定，请耐心等待！</p>
                        {/case}
                        {/switch}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN_PATH__js/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/main.min.js"></script>
</body>
</html>