<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$form->getTitle()?></title>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/vue.min.js"></script>
    <link href="__ADMIN_PATH__js/formbuilder/iview.css" rel="stylesheet">
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/iview.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/form-create.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/province_city.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/province_city_area.js"></script>
</head>
<body>
<script>
    window.$f = null;
    formCreate.formSuccess = function(form,$r){
        alert(111);
        //刷新父级页面
//        parent.$(".J_iframe:visible")[0].contentWindow.location.reload();
        //关闭当前窗口
//        var index = parent.layer.getFrameIndex(window.name);
//        parent.layer.close(index);
        //提交成功后按钮恢复
        $r.btn.loading(false)
    };
    (function () {
        var create = <?=$form->formScript()?>
        window.$f = create();
    })()

</script>
</body>
</html>