<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$form->getTitle()?></title>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/vue.min.js"></script>
    <link href="__ADMIN_PATH__js/formbuilder/iview.css" rel="stylesheet">
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/iview.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/form-create.min.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/province_city.js"></script>
    <script type="text/javascript" src="__ADMIN_PATH__js/formbuilder/province_city_area.js"></script>
    <style>
        /*弹框样式修改*/
        .ivu-modal{top: 20px;}
        .ivu-modal .ivu-modal-body{padding: 10px;}
        .ivu-modal .ivu-modal-body .ivu-modal-confirm-head{padding:0 0 10px 0;}
        .ivu-modal .ivu-modal-body .ivu-modal-confirm-footer{display: none;padding-bottom: 10px;}
        .ivu-date-picker {display: inline-block;line-height: normal;width: 280px;}
        .ivu-modal-footer{display: none;}
        body{padding: 20px;}
    </style>
</head>
<body>
<script>
    formCreate.formSuccess = function(form,$r){

        //刷新父级页面
//        parent.$(".J_iframe:visible")[0].contentWindow.location.reload();
        //关闭当前窗口
//        var index = parent.layer.getFrameIndex(window.name);
//        parent.layer.close(index);
        //提交成功后按钮恢复
        $r.btn.loading(false);
    };
    (function () {
        var create = <?=$form->formScript()?>
        window.$f = create();
    })()

</script>
</body>
</html>