<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面提示</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{__FRAME_PATH}css/bootstrap.min.css" rel="stylesheet">
    <link href="{__FRAME_PATH}css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="{__FRAME_PATH}css/style.min.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>页面提示</h1>
    <h3 class="font-bold">{$msg}</h3>
    <div class="error-desc">
        <a href="{$backUrl}" style="">返回</a>
    </div>
</div>

</body>
</html>