<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__ADMIN_PATH__css/oksub.css">
    <script type="text/javascript" src="__ADMIN_PATH__lib/loading/okLoading.js"></script>
</head>
<body>
<div class="ok-body">
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form ok-search-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="role_id" lay-verify="">
                            <option value="" selected>请选择角色</option>
                            {volist name="auths" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="status" lay-verify="">
                            <option value="" selected>请选择状态</option>
                            <option value="1">正常</option>
                            <option value="0">冻结</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" placeholder="账号/ID" autocomplete="off" name="name">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="__ADMIN_PATH__lib/layui/layui.js"></script>
<script>
    layui.use(["element", "jquery", "table", "form", "laydate", "okLayer", "okUtils","util"], function () {
        let table = layui.table;
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let $ = layui.jquery;
        let util = layui.util;

        okLoading.close($);
        let userTable = table.render({
            elem: '#tableId',
            url: "/admin/admin.admin/lst",
            method: "post",
            limit: 20,
            page: true,
            toolbar: "#toolbarTpl",
            // size: "lg",
            cols: [[
                {type: "checkbox", fixed: "left"},
                {field: "id", title: "ID", width: 100, sort: true},
                {field: "name", title: "账号", width: 100},
                {field: "nickname", title: "昵称", width: 100},
                {field: "realname", title: "真实姓名", width: 100},
                {field: "avatar", title: "头像", width: 150, height:150, templet: "#imageTpl"},
                {field: "role_id", title: "角色", width: 100},
                {field: "status", title: "状态", width: 100, templet: "#statusTpl"},
                {field: "tel", title: "电话", width: 200},
                {field: "mail", title: "邮箱", width: 200},
                {field: "ip", title: "注册IP", width: 200},
                {field: "create_user", title: "创建人", width: 150},
                {field: "create_time", title: "创建时间", width: 200,templet:function(d){return util.toDateString(d.create_time*1000, "yyyy-MM-dd HH:mm:ss");}},
                {title: "操作", width: 100, align: "center", fixed: "right", templet: "#operationTpl"}
            ]],
            done: function (res, curr, count) {
                console.info(res, curr, count);
            }
        });

        form.on("submit(search)", function (data) {
            userTable.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false;
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "batchEnabled":
                    batchEnabled();
                    break;
                case "batchDisabled":
                    batchDisabled();
                    break;
                case "batchDel":
                    batchDel();
                    break;
                case "add":
                    add();
                    break;
            }
        });

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "edit":
                    edit(data);
                    break;
                case "del":
                    del(data.id);
                    break;
                case "openImage":
                    openImage(data.avatar)
                    break;
            }
        });

        function openImage(avatar) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                skin: 'layui-layer-nobg',
                shadeClose: true,
                content: "<img src='"+avatar+"'/>"
            });
        }

        function add() {
            okLayer.open("添加用户", "add", "80%", "90%", function (layero) {
                console.log(layero);
            }, function () {
                userTable.reload();
            })
        }

        function edit(data) {
            okLayer.open("更新用户", "edit", "80%", "90%", function (layero) {
                let iframeWin = window[layero.find("iframe")[0]["name"]];
                iframeWin.initForm(data);
            }, function () {
                userTable.reload();
            })
        }

        function del(id) {
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/admin/admin.admin/del", "post", {id: id}, true).done(function (response) {
                    okUtils.tableSuccessMsg(response.msg);
                }).fail(function (error) {
                    console.log(error)
                });
            })
        }
    })
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加用户</button>
    </div>
</script>
<!--图片-->
<script type="text/html" id="imageTpl">
    <img src="{{d.avatar}}" lay-event="openImage" style="width: 100px;height: 100px;"/>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    <a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
<!-- 启用|停用模板 -->
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">禁用</span>
    {{#  } else if(d.status == 1) { }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">正常</span>
    {{#  } }}
</script>
</body>
</html>
