<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>网站配置 - 派后台管理系统</title>
    <link rel="icon" href="__ADMIN_PATH__favicon.ico" type="image/ico">
    <meta name="keywords" content="派后台管理系统">
    <meta name="description" content="派后台管理系统">
    <meta name="author" content="cfn">
    <link href="__ADMIN_PATH__css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN_PATH__css/materialdesignicons.min.css" rel="stylesheet">
    <link href="__ADMIN_PATH__css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <ul class="nav nav-tabs page-tabs">
                    <li {eq name="tab_id" value="1"}class="active"{/eq}><a href="/admin/system.system_config/base?tab_id=1">基本</a></li>
                    <li {eq name="tab_id" value="2"}class="active"{/eq}><a href="/admin/system.system_config/base?tab_id=2">上传</a></li>
                    <li {eq name="tab_id" value="3"}class="active"{/eq}><a href="/admin/system.system_config/base?tab_id=3">短信</a></li>
                    <li {eq name="tab_id" value="4"}class="active"{/eq}><a href="/admin/system.system_config/base?tab_id=4">邮件</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form action="#!" method="post" name="edit-form" class="edit-form">
                            {volist name="system" id="vo"}
                            {switch $vo.tag_type}
                            {case textarea}
                            <div class="form-group">
                                <label for="web_site_description">{$vo.name}</label>
                                <textarea class="form-control" id="web_site_description" rows="5" name="{$vo.form_name}" placeholder="请输入{$vo.name}" >{$vo.value}</textarea>
                                <small class="help-block">{$vo.remark}</small>
                            </div>
                            {/case}
                            {case select}
                            {/case}
                            {default/}
                            <div class="form-group">
                                <label for="web_site_title">{$vo.name}</label>
                                <input class="form-control" type="{$vo.form_type}" id="web_site_title" name="{$vo.form_name}" value="{$vo.value}" placeholder="请输入{$vo.name}" >
                                <small class="help-block">{$vo.remark}</small>
                            </div>
                            {/switch}
                            {/volist}
<!--                            <div class="form-group">-->
<!--                                <label for="web_site_logo">LOGO图片</label>-->
<!--                                <div class="input-group">-->
<!--                                    <input type="text" class="form-control" name="web_site_logo" id="web_site_logo" value="/home/images/logo.png" />-->
<!--                                    <div class="input-group-btn"><button class="btn btn-default" type="button">上传图片</button></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="web_site_keywords">站点关键词</label>-->
<!--                                <input class="form-control" type="text" id="web_site_keywords" name="web_site_keywords" value="后台系统模板,LightYear Admin Template,html模板,后台模板,管理系统模板" placeholder="请输入站点关键词" >-->
<!--                                <small class="help-block">网站搜索引擎关键字</small>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="web_site_description">站点描述</label>-->
<!--                                <textarea class="form-control" id="web_site_description" rows="5" name="web_site_description" placeholder="请输入站点描述" >光年(Light Year Admin)后台管理系统模板是一个基于基于Bootstrap v3.3.7的纯HTML模板。</textarea>-->
<!--                                <small class="help-block">网站描述，有利于搜索引擎抓取相关信息</small>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="web_site_copyright">版权信息</label>-->
<!--                                <input class="form-control" type="text" id="web_site_copyright" name="web_site_copyright" value="" placeholder="请输入版权信息" >-->
<!--                                <small class="help-block">调用方式：<code>config('web_site_copyright')</code></small>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="web_site_icp">备案信息</label>-->
<!--                                <input class="form-control" type="text" id="web_site_icp" name="web_site_icp" value="" placeholder="请输入备案信息" >-->
<!--                                <small class="help-block">调用方式：<code>config('web_site_icp')</code></small>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="btn-block" for="web_site_status">站点开关</label>-->
<!--                                <label class="lyear-switch switch-solid switch-primary">-->
<!--                                    <input type="checkbox" checked="">-->
<!--                                    <span></span>-->
<!--                                </label>-->
<!--                                <small class="help-block">站点关闭后将不能访问，后台可正常登录</small>-->
<!--                            </div>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary m-r-5">确 定</button>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__ADMIN_PATH__js/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/main.min.js"></script>
</body>
</html>